
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<!-- Navbar content -->
  <a href="./">Home</a>
  <form action="/logout?_method=DELETE" method="post">
    <button type="submit">Log Out</button>
  </form>
</nav>


<div id="production">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Order Management!</h2>

        {{!-- Displaying Orders --}}
        <h3>Orders:</h3>
        <ul id="item-list" class="list-group">
          {{#each orders}}
          <li data-id="{{this.id}}" class="list-group-item">
            <p></p>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/production.js"></script>
