.list-group-item {
  line-height: 2.5;
  background: rgba(83, 46, 12, 0.548);
  color: whitesmoke;
  width: 125%;
  height: 15%;
  float: right;
  margin-bottom: 1%;
}
body {
  background-image: url("./Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  color: red;
}
.list-group{
  width: 100%;
  offset-position: -25%;
}
.order-quantity {
  width: 80%;
  margin-bottom: 10px;
}

.order-form {
  align-self: center;
  align-items: center;
}
.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}


